[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ThirdParty/rttr"]
	path = ThirdParty/rttr
	url = https://github.com/Chang-Jin-Lee/rttr.git
[submodule "ThirdParty/ImGuizmo"]
	path = ThirdParty/ImGuizmo
	url = https://github.com/Chang-Jin-Lee/ImGuizmo.git
[submodule "ThirdParty/imoguizmo"]
	path = ThirdParty/imoguizmo
	url = https://github.com/Chang-Jin-Lee/imoguizmo.git
[submodule "ThirdParty/imgui-node-editor"]
	path = ThirdParty/imgui-node-editor
	url = https://github.com/Chang-Jin-Lee/imgui-node-editor.git
	branch = docking
